.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
  .ui-progressbar-value {
    margin: -1px;
    height: 100%;
  }
}
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}
.ui-selectable {
  -ms-touch-action: none;
  touch-action: none;
}
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}
.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  .ui-menu {
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 1px;
  }
}
.ui-selectmenu-open {
  display: block;
}
.ui-selectmenu-text {
  display: block;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
  width: 14em;
}
.ui-selectmenu-icon.ui-icon {
  float: right;
  margin-top: 0;
}
.ui-slider {
  position: relative;
  text-align: left;
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  &.ui-state-disabled {
    .ui-slider-handle,
    .ui-slider-range {
      filter: inherit;
    }
  }
}
.ui-slider-horizontal {
  height: 0.8em;
  .ui-slider-handle {
    top: -0.3em;
    margin-left: -0.6em;
  }
  .ui-slider-range {
    top: 0;
    height: 100%;
  }
}

/** UI Slider **/

/* Widget Theming */

#widget {
  @include fullcol();
  @include flexcenter(center, space-between, inherit);
  margin-top: 40px;
  .wid_left {
    width: 70%;
    .form-group {
      margin-bottom: 40px;
      label {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        width: auto;
      }
      .range_indicator {
        display: flex;
        justify-content: space-between;
        .indi_rgt {
          font-size: 16px;
          font-weight: 500;
          /* color: #212529; */
        }
      }
      label > span {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .wid_right {
    width: 25%;
    background: #fff;
    border-radius: 20px;
    padding: 45px 20px 40px;
    text-align: center;
    box-shadow: 0 0 25px #ececec;
    > li {
      font-size: 15px;
      &:last-child {
        text-transform: uppercase;
        p {
          color: $red;
          margin-bottom: 0;
        }
      }
      p {
        &.smtxt {
          margin: 0;
          font-size: 13px;
          font-weight: 400;
          text-transform: capitalize;
          color: #212529;
        }
        display: block;
        margin-bottom: 28px;
        font-size: 21px;
        font-weight: 700;
        color: #4a4a4a;

        i {
          font-size: 0.8em;
        }
      }
    }
  }
  .ui-widget.ui-widget-content {
    background: #b9b9b9;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 3px;
    margin-top: 14px;
  }
  .ui-widget-header {
    background: $red;
  }
  .ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 40px;
    background: #e31e24;
    border: none;
    top: -5px;
    outline: none;
  }
}
.scalerange {
  display: flex;
  width: calc(100% + 32px);
  justify-content: space-between;
  margin: 0 -15px;
  font-size: 12px;
  color: #4a4a4a;
  span {
    text-align: center;
    min-width: 35px;
    padding-top: 16px;
    position: relative;
    &:before {
      content: "";
      background: #a9a9a9;
      display: block;
      width: 1px;
      height: 9px;
      position: absolute;
      top: 7px;
      left: calc(50% - 1px);
    }
  }
}
#widget .ui-slider .ui-slider-handle {
  margin-left: -6px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  #widget {
    flex-direction: column-reverse;
    .wid_right,
    .wid_left {
      width: 100%;
    }
    .wid_left {
      margin-top: 30px;
    }
  }
  .scalerange span {
    min-width: 30px;
  }
}
